<div class="container bg" style="
padding-top: 20px;">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>

                <label for="name"><b>Pen Name</b></label>
                <input type="text" placeholder="Enter Pen Name" name="email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                <hr>

                <button (click)="showAlert()" class="registerbtn">Create Account</button>
            </div>

            <div>
                <p>Already have an account? <a href="#">Sign in</a>.</p>
            </div>
        </div>

    </div>
</div>